* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #eba0a0c0;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  border: none;
}

.hoveredButton:hover {
  transition: 0.2s;
  font-weight: 700;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EB9C00;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}